.converter-container {
  margin: 10px;
  padding: 40px;
  width: max-content;
  background-color: #f5d042;
  color: #0a174e;
}

h1 {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

label {
  font-weight: 600;
  color: #0a174e;
}

input {
  margin-left: 5px;
  outline: none;
  border: none;
  padding: 8px;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 5px;
  background-color: #0a174e;
  color: #f5d042;
}

button:hover {
  background-color: #0a174e99;
  transition: all 0.7s;
}
